.modal_bg.dept_sch {
    .search_container {
        margin-bottom: 20px;

        .btn_container {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: end;
        }
    }

    #deptSchModalSearchForm {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}