.body .btn_container {
    display: flex;
    justify-content: right;
}

.body .btn_container button {
    margin: 5px;
}

.body .param_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.body .param_container > div {
    margin: 1rem;
}

.body .param_container > div label {
    display: inline-block;
    width: 60px;
}

.bottom_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    font-size: 0.6rem;
    padding: 0.3rem 1rem;
}