.modal_bg.hrm_0105 {
    > .modal {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

    .root_container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .request_info_container {
            display: flex;
            flex-direction: column;
            gap: 7px;

            .rq_info_form {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                .input_wrap {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;

                    > {
                        label {
                            width: 70px;
                            text-align: center;
                        }

                        input {
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        .appnt_request_info_container {
            display: flex;
            flex-direction: column;
            gap: 7px;

            .appnt_rq_info_form {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .row {
                    display: flex;
                    align-items: center;

                    > {
                        label {
                            flex-basis: 70px;
                            text-align: center;
                        }

                        input:not(input[type=date]) {
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        .appnt_emp_info_container {
            display: flex;
            flex-direction: column;
            gap: 7px;

            .sub_title_wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .btn_container {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }
            }
        }
    }

    .sub_title {
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--primary-color);
    }
}




